body {
  font-family: Arial;
  background-color: gray;
}

.spacing {
  margin-bottom: 50px;
  border-bottom: solid 2px red;
  background-image: url("../img/banner.jpg");
}

#title {
  font-family: "Times New Roman", serif;
  text-align: center;
}

#subtitle {
  font-family: Georgia, serif;
  text-align: center;
}

#portfolio-pic {
  border: solid 1px black;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

h3,
h4 {
  color: red;
}

#projects h3,
#about-me h3 {
  font-size: 28px;
}

.project h4 {
    font-style: italic;
}

#about-me h4 {
  text-decoration: underline;
}

#about-me p {
  text-indent: 50px;
  text-align: justify;
}

#about-me ul {
  font-family: serif;
}

#interests ul {
  font-style: italic;
}

a {
  color: green;
}

.language {
  font-family: monospace;
  text-decoration: underline;
}

.floating-pic {
  width: 10%;
  margin: 5px;
  float: right;
  background-color: yellow;
}

.floating-pic img {
  max-width: 100%;
  padding: 5px;
}
